:root {
  /* Voy a aprovechar las variables de css y el root para determinar una paleta de colores.
  El 2 es el tono principal de cada uno */

  /* Color primario */
  --rgba-primary-0: rgba(0, 0, 0, 1);
  --rgba-primary-1: rgba(1, 45, 62, 1);
  --rgba-primary-2: rgba(4, 74, 100, 1);
  --rgba-primary-3: rgba(35, 98, 121, 1);
  --rgba-primary-4: rgba(78, 86, 88, 1);
  --rgba-primary-4-transpar: rgba(78, 86, 88, 0.8);

  /* Color secundario 1 */

  --rgba-secondary-1-0: rgba(0, 0, 0, 1);
  --rgba-secondary-1-1: rgba(99, 73, 0, 1);
  --rgba-secondary-1-2: rgba(160, 118, 0, 1);
  --rgba-secondary-1-3: rgba(194, 156, 49, 1);
  --rgba-secondary-1-4: rgba(141, 136, 124, 1);

  /* Color secundario 2 */

  --rgba-secondary-2-0: rgba(0, 0, 0, 1);
  --rgba-secondary-2-1: rgba(99, 7, 0, 1);
  --rgba-secondary-2-2: rgba(160, 12, 0, 1);
  --rgba-secondary-2-3: rgba(194, 60, 49, 1);
  --rgba-secondary-2-4: rgba(141, 125, 124, 1);
}

body {
  background-image: url(../images/fondoescenario.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

/*HEADER*/
header {
  display: flex;
  background-image: url("../images/fondoHeader.jpg");
  background-size: cover;
  max-height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  z-index: 1;
}

img#logo {
  width: 8vw;
  height: 8vw;
  max-width: 80px;
  max-height: 80px;
}

nav#paginas {
  display: flex;
  font-size: 2vw;
  align-items: end;
}

nav#paginas div {
  padding: 10px;
  background-color: black;
  color: white;
  margin-right: 2vw;
}

nav#paginas div:hover {
  background-color: var(--rgba-primary-4);
}

nav i {
  font-size: 100%;
  background-color: white;
  padding: 1% 1% 1% 1%;
  margin-left: 2vw;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: white;
}

input#search {
  width: 10vw;
  margin-right: 5px;
}

/*FIN HEADER*/

/*CUERPO*/
div#cuerpo {
  display: flex;
  align-items: flex-start;
}

/*CONCIERTO DESTACADO DESTACADO*/
div#destacado {
  display: flex;
  order: -1;
  width: 370px;
  height: 480px;
  position: sticky;
  top: 0;
}

/*CONCIERTOS*/
main {
  margin: 1%;
  order: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
}

main#conciertos {
  background-color: var(--rgba-primary-4-transpar);
}

div.concert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.infoConcert {
  display: grid;
  margin-left: 5vh;
  align-items: center;
}

button.info {
  border-radius: 100%;
  height: 5vh;
  width: 3vw;
}
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
  font-size: 3vh;
}
div#map {
  display: flex;
  background: red;
  height: 35vh;
  width: 35vw;
}

/*ASIDE*/
aside {
  order: 1;
  display: grid;
  float: right;
  height: 100vh;
  background-color: #391ee3;
  width: 26vw;
}

/*FOOTER*/
footer {
  display: flex;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    var(--rgba-primary-0) 10%,
    var(--rgba-primary-4) 90%
  );
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1vw;
  color: white;
  align-items: center;
  height: 7vw;
}

#follow {
  width: 15vw;
  margin: 0vw 20vw 0vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div {
  margin: 1vw 2vw 1vw 2vw;
  text-align: center;
  height: 5vw;
  transition: height 0.15s ease-in-out;
}

footer div:hover {
  height: 4vw;
}

footer div:active {
  color: var(--rgba-secondary-1-4);
}

footer i {
  font-size: 3.5vw;
}

div#editEvent {
  display: none;
}