body {
  background-image: none;
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-image: url("../images/fondoHeader.jpg");
  background-size: cover;
  max-height: 80px;
}

footer {
  display: flex;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(68, 68, 68, 1) 90%
  );
  font-size: 1.6vw;
  font-weight: bold;
  padding: 1vw;
  color: white;
  align-items: center;
  max-height: 80px;
}

#follow {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div {
  padding: 1vw;
  text-align: center;
}

footer div:hover {
  background-color: rgb(68, 68, 68);
  max-height: 70px;
}

footer div:active {
  background-color: rgb(122, 122, 122);
  max-height: 70px;
}

footer div img {
  width: 5vw;
  height: 5vw;
  max-height: 50px;
  max-width: 50px;
}

div#NombrePagina {
  color: darkred;
  padding: 1.5vh;
  background-color: rgb(0 0 0 / 50%);
  font-size: 3rem;
}

img#logo {
  width: 8vw;
  height: 8vw;
  max-width: 80px;
  max-height: 80px;
  display: flex;
}

nav#paginas {
  display: flex;
  margin-top: 15px;
  padding: 0vw 2vw 0vw 2vw;
  font-size: 2.5vw;
  align-items: end;
}

nav#paginas div {
  padding: 10px;
  background-color: black;
  color: white;
  margin-right: 2vw;
}

nav#paginas div:hover {
  background-color: rgb(68, 68, 68);
}

input#search {
  width: 10vw;
  margin-right: 5px;
}

#user {
  margin-left: 2vw;
  background-size: cover;
  width: 7vw;
  height: 7vw;
}

div#noticia {
  float: left;
  background-color: blue;
  display: grid;
}

aside#secciones {
  float: right;
  background-color: green;
  width: 15vw;
}

#fanshop img {
  width: 100%;
}

div#cuerpo {
  display: flex;
}
