body {
    background-image: none;
    font-family: sans-serif;
    margin: 0;
}

footer {
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(68,68,68,1) 90%);
    font-size: 1.6vw;
    font-weight: bold;
    padding: 1vw;
    color: white;
    align-items: center;
    max-height: 80px;
}

#follow {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    padding: 1vw;
    text-align: center;
}

footer div:hover {
    background-color: rgb(68, 68, 68);
}

footer div:active {
    background-color: rgb(122, 122, 122);
}

footer div img {
    width: 6vw;
    height: 6vw;
    max-height: 50px;
    max-width: 50px;
}