:root {
    /* Voy a aprovechar las variables de css y el root para determinar una paleta de colores.
    El 2 es el tono principal de cada uno */
  
    /* Color primario */
  
    --rgba-primary-0: rgba(0, 0, 0, 1);
    --rgba-primary-1: rgba(1, 45, 62, 1);
    --rgba-primary-2: rgba(4, 74, 100, 1);
    --rgba-primary-3: rgba(35, 98, 121, 1);
    --rgba-primary-4: rgba(78, 86, 88, 1);
    --rgba-primary-4-transpar: rgba(78, 86, 88, 0.8);
  
    /* Color secundario 1 */
  
    --rgba-secondary-1-0: rgba(0, 0, 0, 1);
    --rgba-secondary-1-1: rgba(99, 73, 0, 1);
    --rgba-secondary-1-2: rgba(160, 118, 0, 1);
    --rgba-secondary-1-3: rgba(194, 156, 49, 1);
    --rgba-secondary-1-4: rgba(141, 136, 124, 1);
  
    /* Color secundario 2 */
  
    --rgba-secondary-2-0: rgba(0, 0, 0, 1);
    --rgba-secondary-2-1: rgba(99, 7, 0, 1);
    --rgba-secondary-2-2: rgba(160, 12, 0, 1);
    --rgba-secondary-2-3: rgba(194, 60, 49, 1);
    --rgba-secondary-2-4: rgba(141, 125, 124, 1);
  }
  

/*Formulario Sign Up*/  
div#formSignUp{
  display: flex;
  height: 44vh;
  width: 28vw;
  background-size: contain;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/Logo\ Music4Events.png);
}

p.error{
    color: rgba(160, 12, 0, 1);
}
a:focus, a:active {
  color: green;
}
button.signUpButton{
  display: flex;
  width: 35vh;
  height: 5vh;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: rgba(1, 45, 62, 1);
  background-color: var(--rgba-secondary-1-3)
}
input{
  color: var(--rgba-primary-4);
}

h1{
  font-family: "Times New Roman", Times, serif;
  margin-top: 0vh;
  color: var(--rgba-secondary-1-3);

}

form{
  display: flex;
    flex-direction: column;
    align-items: center;
}

